@font-face{
    font-family: "Flood std";
    src: url("../fonts/Flood.ttf");
}

@font-face {
    font-family: "Helvetica";
    src: url("../fonts/Helvetica_33244fbeea10f093ae87de7a994c3697.ttf");
}

#heading {
    text-align: left;
    font-family: Helvetica;
    font-weight: Bold;
    font-size: 150% ;
    padding-top: 0%;
    color: #354463;
    opacity: 1;
}

.navbar-links-items {
    text-align: left;
    font-family: Helvetica;
    font-weight: lighter;
    font-size:  1em ;
    color: #354463;
    opacity: 1;
    text-decoration: none;
}

#donate-button {
    background: #C1F7D5 ;
    border-radius: 2em;
    opacity: 1;
    padding: 1em;
    text-align: center;
    font-size:  1em ;
    font-family: Helvetica;
    font-weight: Bold;
    letter-spacing: 0;
    color: #354463;
    text-decoration: none;
    border: none;
}

.navbar {
    display: flex;
    padding: 3%;
}

.navbar-links {
    display: flex;
}

.center-section {
    background-image: url("../images/annie-spratt-135307-unsplash.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

#stop-climate-change {
    text-align: left;
    font-family: Flood std;
    font-weight: normal;
    color: white;
}

.the-issue-class {
    background-color: white;
    height: 30vw;
    display: flex;
}

#the-issue-heading {
    text-align: center;
    font-family: Helvetica;
    font-weight: normal;
    font-size: 1em;
    color: white;
    opacity: 1;
    background-color: #354463;
    padding: 3%;
    width: 8em;
}

#the-issue-content {
    font-family: Helvetica;
    font-weight: bolder;
    opacity: 1;
    color: #354463;
}

#issue-read-more {
    font-family: Helvetica;
    font-weight: normal;
    font-size: 1.2vw;
    opacity: 1;
    color: #354463;
}

.take-action-navbar {
    background-color: #C1F7D5;
    color: #354463;
    font-family: Helvetica;
    font-weight: lighter;
    display: flex;
}

.actions-list {
    display: flex;
}
.actions-list-item {
    display: flex;
    flex-direction: column;
}
#take-action-header {
    text-align: center;
    font-family: Helvetica;
    font-weight: normal;
    font-size: 4vw;
    color: white;
    background-color: #354463;
    padding: 2vw;
    width: 30vw;
}
.actions-list-item-header {
    font-weight: bold;
    padding-bottom: 10%;
    font-size: 5vw;
}
.actions-list-item-content {
    font-size: 3vw;
}