/* For desktop screens */
@media (min-width: 992px){
    .navbar{
        flex-direction: row;
        justify-content: space-around;
    }
    #heading{
        order: 0;
        width: 20%;
        padding-top: 0%;
    }
    .navbar-links {
        order: 1;
        width: 50%;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        align-self: center;
    }
    #donate-button {
        order: 2;
        width: 15%;
        align-self: center;
    }
}

/* For center-section */
@media (min-width: 992px) {
    .center-section {
        background-image: url("../images/annie-spratt-135307-unsplash@1x.jpeg");
        background-size: contain;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 10%;
        height: 26.65vw;
    }    
    #heading {
        font-size: 2vw ;
    }
    #stop-climate-change {
        order: 1;
        font-size: 5vw;
        height: 3vw;
        margin-right: 11vw;
    }
    .the-issue-class {
        order: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 30vw;
        padding: 2vw;
    }
    #the-issue-heading {
        position: relative; 
        top: -4vw;

    }
    #the-issue-content {
        font-size: 3vw;  
        margin-bottom: 4vw;    
    }

}

/* For take action navbar */
@media (min-width: 992px) {
    .take-action-navbar {
        flex-direction: column;
        height: 20vw;
        padding: 3vw;
    }
    #take-action-header {
        align-self: center;
        position: relative;
        top: -4.5vw;
        padding: 0.5vw;
        font-size: 2vw;
        width: 20vw;
    }
    .actions-list {
        flex-direction: row;
        flex-wrap: nowrap;
        height: 100%;
        justify-content: space-around;
    }
    .actions-list-item {
        width: 40vw;
    }
    .actions-list-item-header {
        font-size: 3vw;
        padding-bottom: 1%;
    }
    .actions-list-item-content {
        font-size: 2vw;
    }
}