/* For mobile devices */

/* For navbar */
@media (max-width: 600px) {
    .navbar{
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    #heading{
        width: 45%;
        padding-top: 10%;
    }
    .navbar-links {
        height: 10em;
        flex-direction: column;
        justify-content: space-around;
    }
    #donate-button {
        width: 100%;
    }
}

/* For center-section */
@media (max-width: 600px) {
    .center-section {
        height: 80vh;
        flex-direction: column;
        justify-content: space-between;
        padding: 5%;
        padding-bottom: 10%;
    }
    .the-issue-class {
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 35vh;
    }
    #stop-climate-change {
        font-size: 300%;
    }
    #the-issue-content {
        font-size: 150%;
        text-align: center;
        padding: 5%; 
    }
    #issue-read-more {
        padding: 5%; 
        text-align: center; 
        font-size: 3vw;
    }
    #the-issue-heading {
        position: relative;
        top: -6vw
    }
}

/* For take action navbar */
@media (max-width: 600px) {
    .take-action-navbar {
        flex-direction: column;
        height: 100vw;
        padding: 3vw;
    }
    #take-action-header {
        align-self: center;
        position: relative;
        top: -6vw;
    }
    .actions-list {
        flex-direction: row;
        flex-wrap: wrap;
        height: 100%;
        justify-content: space-around;
    }
    .actions-list-item {
        width: 40vw;
    }
    .actions-list-item-content {
        font-size: 5vw;
    }
}