/* For tablet screens */
@media (min-width: 600px) and (max-width: 992px){
    .navbar{
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    #heading{
        order: 0;
        width: 45%;
        padding-bottom: 1%;
    }
    .navbar-links {
        order: 2;
        width: 50%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    #donate-button {
        order: 1;
        width: 20%;
        align-self: flex-end;
    }
}

/* For center-section */
@media (min-width: 600px) and (max-width: 992px) {
    .center-section {
        height: 100vw;
        background-size: cover;
        flex-direction: column;
        justify-content: space-around;
        padding: 10%;
    }

    #stop-climate-change {
        font-size: 7vw;
    }
    .the-issue-class {
        flex-direction: column;
        justify-content: space-around;
        height: 12vh;
        padding: 10%;
    }
    #the-issue-heading {
        position: relative; 
        top: -1vw;
    }
    #the-issue-content {
        font-size: 4vw;
        position: relative;
    }
    #issue-read-more {
        padding: 5% 0%;
        font-size: 3vw;
    }
}

/* For take action navbar */
@media (min-width: 600px) and (max-width: 992px) {
    .take-action-navbar {
        flex-direction: column;
        height: 50vw;
        padding: 3vw;
    }
    #take-action-header {
        align-self: center;
        position: relative;
        top: -6vw;
    }
    .actions-list {
        flex-direction: row;
        flex-wrap: wrap;
        height: 100%;
        font-size: 5vw;
        justify-content: space-around;
    }
    .actions-list-item {
        width: 40vw;
    }
    .actions-list-item-content {
        font-size: 3vw;
    }
}